* {
    margin: 0px;
    padding: 0px;
}

.container {
    width:500px;
    height:500px;
    position:absolute;
    margin-left:-250px; 
    margin-top:-250px;
    top:50%;
    left:50%;
    text-align: center;
}

h1 {
    font-family: 'Indie Flower', cursive;
    font-size: 40px; 
}

h2 {
    height: 30px; 
    font-family: 'Slabo 27px', serif;
    font-size: 26px; 
}

h3 {
    font-size: 24px; 
    font-family: 'Slabo 27px', serif;
}

h4 {
    font-size: 20px; 
    font-family: 'Slabo 27px', serif;
}

button {
    font-family: 'Slabo 27px', serif;
    border-radius: 10px;
    font-size: 20px;  
    padding: 10px 20px; 
    margin: 10px; 
}

table {
    width: 200px;
    height: 200px; 
    border-collapse: collapse;
    margin: 20px auto;
}

td {
    width: 60px;
    height: 60px;
    text-align: center;  
    font-family: 'Indie Flower', cursive;
    font-size: 30px; 
}

.X {
    color: #ff005c;
}

.O {
    color: #00ffa3;
}

#one {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

#three {
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

#five {
    border: 1px solid black;
}

#seven {
    border-right: 1px solid black;
    border-top: 1px solid black;
}

#nine {
    border-left: 1px solid black;
    border-top: 1px solid black;
}